/*                                                                                                                                                                                               
 .:........                                                                                         
 -------------------------::::::::........                                                          
 --------------------------------------------------------::::::::........                           
 ---------------------------------------------------------------------------------------:::::.      
.-----------------------------------------------------------------------------::::::---------.      
.----------------------------------------------------------------------------:       :-------       
:----------------------------------------------------------------------------:  -------------       
:----------------------------------------------------------------------------:      .--------       
-----------------------------------------------------------------------------.  -------------       
.::::::::--------------------------------------------------------------------  .------------:       
                        ........::::::::-------------------------------------:::-------------::---. 
                                                      ....:::-------------------------------------: 
                                      ......:::::::--------------------------------:    .---------: 
                .......::::::------------------------------------------------------  .:  :--------- 
      ::---------------------------------------------------------------------------:    ::..------- 
      .----------------------------------------------------------------------------     ..  -------.
      .---------------------------------------------------------------------------:  ::.   .-------.
       ----------------------------------------------------------------------------:.    ....------:
       --------------------------------------------------------------------------------------------:
    ...:----------------------------------------------------------------------::::::.......         
    ===-------------------------------------------------:::::::.......                              
   .===------------------------------------::...                                                    
   :====----------------==========================-----::::....                                     
   -=================================================================----::::.....                  
   =====================================================================================----::::    
  .=========================================================================..:====::==========-    
  :=========================================================================:  ===.  :===. .===:    
  -==========================================================================  :=.    ==.  ====.    
  :---=======================================================================:  .  -  ::  =====     
            .....::::----=====================================================    ==:    -=====     
                               ....::::-----==================================.  ====   -=====-     
                                                  ....::::----=======================-:-======:     
                                                                     ....::::----=============.     
                                                                                       .....::      
*/
:root {
  --main-bg-colour: #222222;
  --main-fg-colour: #ffffff;
  --main-font: 'Helvetica Neue';
  --main-font-size: 14px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:root {
  background-color: var(--main-bg-colour);
  color: var(--main-fg-colour);
  font-family: var(--main-font);
  font-size: var(--main-font-size); }

/*# sourceMappingURL=dashboard.css.map */